body{
background-color: rgb(248, 241, 231) !important;
}

.nav{
  margin: 10px;
  background-color: rgb(248, 218, 84);
  padding: 15px;
}

.name{
  display: flex; 
  justify-content: start; 
  align-items: center;
  flex-wrap: wrap;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(185, 64, 24);
  font-size: 31px;
  text-decoration: none;
}

.nav-comp{
  display: flex; 
  justify-content: space-around; 
  padding-top: 18px;
  text-decoration: none;
  }

.nav-comp a{
  font-weight: 600;
  font-size: 18px;
  color: rgb(80, 35, 20);
}
.nav-comp a:hover{
  text-decoration: none;
  color: rgb(80, 35, 20);
}

/* hero section  */
.H-S {
  height: 100vh;
  margin: 10px;
  margin-top: 50px;
  background-image: url(../assets/images/burger.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* Menu section  */
#menu{
  background-color: rgb(80, 35, 20);
  color: rgb(248, 241, 231);
  text-align: center;
  padding: 1%;
  margin: 50px;
}

.menu{
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* Menu heading design */

.head h5, h6 {
  text-align: center;
  color: brown;
}
.head p {
  text-align: center;
  color: black;
  margin-top: 20px;
}

/* about */

.about {
  background-color: rgb(80, 35, 20);
  color: rgb(248, 241, 231);
  text-align: center;
  padding: 1%;
  margin: 50px;
}

.img{
  transition: 1s;
}
.img:hover{
  transform: scale(1.05);
}
/* contact us */

.contact {
  background-color: rgb(80, 35, 20);
  color: rgb(248, 241, 231);
  text-align: center;
  padding: 1%;
  margin: 50px;
}

/* footer */

.footer{
  margin-top: 50px;
  background-color: rgb(78, 78, 78);
  padding: 5px;
  color: white;
  display: flex;
  justify-content: stretch;
  padding-top: 25px;
  
}

